{% extends 'admin/mainAdmin.html' %} {% block title %}Client{% endblock %}
{%block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Clients</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th><a class="btn btn-sm btn-info" href="{% url 'ClientCreate' %}">Ajouter Client</a></th>
        </tr>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>email</th>

          <th>Plus</th>
        </tr>
        {% for cl in clients %}
        <tr>
          <td>{{ cl.first_name }}</td>
          <td>{{ cl.last_name }}</td>
          <td>{{ cl.email }}</td>
            <td><a class="btn btn-sm btn-success" href="{% url 'ClientDetaille' cl.id %}">détaillé</a></td>

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
