{% extends 'admin/mainAdmin.html' %} {% block title %}users{% endblock %}
{%block content %}
<br />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Utilisateur</h5>
    </div>

    <div class="card card-body">
      <table class="table">
        <tr>
          <th>
            <a class="btn btn-sm btn-info" href="{% url 'userCreate' %}">Ajouter Utilisateur</a>
          </th>
        </tr>
        <tr>
         <th>Nom</th>
          <th>Prenom</th>
          <th>email</th>

          <th>Plus</th>
        </tr>
        {% for sl in sellers %}
        <tr>
          <td>{{ sl.first_name }}</td>
          <td>{{ sl.last_name }}</td>
          <td>{{ sl.email }}</td>
            <td><a class="btn btn-sm btn-success" href="{% url 'userDetaille' sl.id %}">détaillé</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
