{% extends 'admin/mainAdmin.html' %} {% block title %}Client{% endblock %}
{%block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Clients</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th><a class="btn btn-sm btn-info" href="#">Ajouter Client</a></th>
        </tr>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>téléphone</th>
          <th>nombre commande</th>
          <th>Plus</th>
        </tr>
        {% for p in products %}
        <tr>
          <th>{{ p.name }}</th>
          <th>{{ p.category }}</th>
          <th>{{ p.price }}</th>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
